/* main component of index page styling */
.info_container{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 5vw;
}    

/* general informaiton styling */
.info_container .small-header h1{

    font-size: clamp(3rem, 12vw, 8.5rem) ;
    padding: 2rem 0;
}

.info_container .small-header h2{
    font-size: clamp(1rem, 4.5vw, 3rem);
    padding: 1rem;
}

.info_container .small-header p{
    font-size: clamp(1rem,3vw,1.5rem);
    padding: 1rem;
}

.info_container article img{
    width: 35vw;
}

/* personal contact infomation styling */
.info_container section{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    padding:  3rem;
}

/* desktop media query */
@media screen and (min-width: 1200px){
    .info_container{
        padding-top: 10vw;
    }
    .info_container article{
        display: flex;
        flex-wrap: wrap;
    }

    .info_container .small-header h1{
        text-align: left;

    }

    .info_container .small-header h2{
        text-align: left;
        padding: 1rem 1rem 1rem 0;
    }
    .info_container .small-header p{
        padding: 1rem 1rem 1rem 0;
    }

    .info_container article .img-container img{
        order: 0;
        max-width: 436px;
        max-height: 436px;
    }
    .info_container .small-header{
        order: 1;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .info_container .img-container{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 2rem;
        width: 40%;
    }
}