/* main body styling */
.article{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 6rem;
    padding: 0 10vw;
}

/* header component styling */
.article header{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    justify-content: center;
}

.article header img{
    width: 90%;
    height: 72vw;
    padding-bottom: 1.5rem;
}

.small-title h1{
    width: 100%;
    text-align: center;
    color: rgb(124, 148, 199);
    font-size: clamp(2rem, 5vw, 3rem);
}

.small-title h4{
    width: 100%;
    text-align: center;
    font-size: clamp(1rem, 3.5vw, 1rem);
}

/* text content styling */
.content_container p{
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    font-weight: 300;
}

/* back to top button */
.Button{
    position: fixed;
    top: 80vh;
    left: 2.5vw;
    background: rgb(127, 175, 226);
    margin: 0.5rem;
    z-index: 99;
    border: 0.5px solid rgb(165, 171, 245);
}

.Button a{
    color: white;
    text-decoration: none;
    font-size: clamp(1rem, 1.5vw,1.25rem);
}

.Button a:hover{
    background-color: rgb(138, 138, 95);
}

/* tablet media query */
@media screen and (min-width: 768px) and (max-width:1199px){
    .article{
        padding: 0 15vw;
        margin-bottom: 7.5rem;
    }

    .article header img{
        width: 100%;
        height: 50vw;
        width: 50vw;
        padding-bottom: 1rem;
    }

    .small-title{
        padding: 1rem;
        width: 100%;
    }
}

/* desktop media query */
@media screen and (min-width: 1200px){
    .article{
        padding: 2rem 15vw;
        /* align-items: center; */
    }
    .article header{
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 2rem;
        align-items: center;
    }
    /* set max size of img */
    .article header img{
        width: 70%;
        order: 1;
        max-height: 500px;
        max-width: 500px;
    }

    .small-title{
        width: 30%;
        text-align: center;
    }
}